.yellow {
	background-color: yellow;
	padding-bottom: 3em;
	width: 200px;
	height: 100px;
	display: inline-block;
}

.grey {
	background-color: dimgrey;
	padding-bottom: 3em;
	width: 200px;
	height: 100px;
	display: inline-block;
}

h4 {
	padding: 0.4em;
}

#white {
	color: white;
}

